<div class="row">
  <div class="col-md-8">
    <h2>Question: '{{question}}'</h2>
    <h4>Description: '{{description}}'</h4>
    <h4>Authored by: {{author}}</h4>

    {{#if questionEditing}}
    <form>
      <div class="form-group">
        <label for="question">Edit the question here:</label>
        {{input id="question" class="form-control" value=question}}
        <label for="author">Edit the author here:</label>
        {{input id="author" class="form-control" value=author}}
        <label for="description">Edit the description here:</label>
        {{input id="description" class="form-control" value=description}}
      </div>
      <button class="btn btn-primary" {{action 'saveQuestion'}}>Save Changes</button>
    </form>
    {{else}}
    <button class="btn btn-warning" {{action 'editQuestion'}}>Edit the details of this question</button>
    <button class="btn btn-danger" {{action 'deleteQuestion'}}>Delete this question</button>
    {{/if}}

    <h2>Answers to this question:</h2>
    <ul>
      {{#each answer in model.answers}}
      <li>{{answer}}</li>
      <li><button class="btn btn-danger" {{action 'deleteAnswer' answer}}>Delete Answer</button></li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Add answers below:</h3>
    <form>
      <div class="form-group">
        <label for="newAnswer">Enter your answer here</label>
        {{input id="newAnswer" class="form-control" value=newAnswer}}
        <br>
        <button class="btn btn-primary" {{action 'addAnswer'}}>Add Answer</button>
      </div>
    </form>

  </div>
</div>
