<h1>Question/Answer Board</h1>
<h2>CLI Edition</h2>

<div class="row">
  <div class="col-md-6">
    <h3>List of questions:</h3>
    <ul>
      {{#each question in model}}
      <li>{{#link-to 'question' question.id}}"{{question.question}}", created by {{question.author}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Add a question:</h3>
    <form>
      <div class="form-group">
        <label for="question">Question</label>
        {{input id="question" class="form-control" value=question}}
        <label for="author">Author</label>
        {{input id="author" class="form-control" value=author}}
        <label for="description">Description</label>
        {{input id="description" class="form-control" value=description}}
        <br>
        <button class="btn btn-primary" {{action 'create'}}>Save Changes</button>
      </div>
    </form>
  </div>
</div>
